useDynLib(bambu, .registration=TRUE)
importFrom("Rcpp", "evalCpp","show")
import(data.table, except=c(last, first, shift, second, between))
import(dplyr, except=c(last, first, desc, union))
import(IRanges, except=c(slice, collapse, setdiff, intersect,cor))
import(SummarizedExperiment)
import(S4Vectors, except=c(rename, setequal, setdiff, intersect,cor))
importFrom("BiocGenerics", "basename","unstrand")
importFrom("GenomicRanges","makeGRangesListFromFeatureFragments","GRanges",
    "makeGRangesListFromDataFrame","match","reduce")
importFrom("Rsamtools","yieldSize","BamFileList","FaFile","ScanBamParam")
importFrom("BiocParallel","bplapply","bpparam")
importFrom("GenomicAlignments","grglist","readGAlignments")
importFrom("methods","as","is")
importFrom("glmnet","cv.glmnet")
importFrom("stats","fisher.test","model.matrix","prcomp","cor")
importFrom("GenomeInfoDb","seqlevelsStyle","keepSeqlevels","seqlevels",
    "seqlevelsStyle<-","seqlengths")
importFrom("GenomicFeatures","exonsBy")
export(bambu)
export(plotBambu)
export(prepareAnnotations)
export(readFromGTF)
export(transcriptToGeneExpression)
export(writeBambuOutput)
export(writeToGTF)
