useDynLib(bambu, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, show)
importFrom(Rsamtools, index)
import(RcppArmadillo)
import(RcppProgress)
import(progress)
import(data.table, except=c(last, first, shift, second, between))
import(dplyr, except=c(last, first, desc, union))
import(GenomicAlignments)
import(GenomicFeatures)
importFrom(GenomicRanges, makeGRangesListFromFeatureFragments)
importFrom(GenomicRanges, GRanges)
importFrom(GenomicRanges, makeGRangesListFromDataFrame)
importFrom(GenomicRanges, score)
import(ggplot2)
import(IRanges, except=c(slice, collapse, setdiff, intersect))
import(S4Vectors, except=c(rename, setequal, setdiff, intersect))
import(SummarizedExperiment)
